 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100px;
}
/* Text */
.u-section-1 .u-text-1 {
  font-weight: 700;
  color: black;
  margin: 80px auto 0;
}

/* Form placement */
.u-section-1 .u-form-1 {
  width: 700px;
  background-image: none;
  margin: 190px auto 59px;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 370px;
    height: 1000px;
  }
}