 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  margin: 155px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 70px auto 60px;
}